# Análise das classificações manuais

> Dataset: "rotulo_manual_ds.zip"

Carregando apenas os dados do **código do processo**, **número**, o **gabinete** e **rótulo** da classificação.<br>

In [1]:
import pandas as pd

colunas = ['CODIGO', 'PROCESSO', 'GABINETE', 'ROTULO_MANUAL']

df = pd.read_csv('../data/rotulo_manual_ds.zip', compression='zip', header=0, sep=',', quotechar='"', usecols=colunas)

In [2]:
# Quantidade de registros e colunas
df.shape

(7764, 4)

Verificado abaixo que existem repetições de código de processo, o implica na decisão de qual a ementa correta para classificação.

In [3]:
df.describe()

               CODIGO              PROCESSO GABINETE ROTULO_MANUAL
count            7764                  7764     7764          7764
unique           7764                  5979        1            29
top     P000162PH12KW  00973509620108240000      3VP           AGR
freq                1                     6     7764          1945

In [4]:
df.head()

          CODIGO              PROCESSO GABINETE ROTULO_MANUAL
0  P0000WYZW12L5  00021075320008240008      3VP           MAR
1  P0000WYZW12L7  00021075320008240008      3VP           AGR
2  P0000WYLT12L6  00203265119998240008      3VP           MAR
3  P0000WYLT12L8  00203265119998240008      3VP           AGR
4  P00013ROH12KX  00055138620008240039      3VP           BAN

Contanto as ocorrências por rótulo

In [13]:
groupby_rotulo = df.groupby('ROTULO_MANUAL')

groupby_rotulo[['CODIGO']].count().sort_values(['CODIGO'], ascending=False)

               CODIGO
ROTULO_MANUAL
AGR              1945
EXP               972
BAN               606
OIG               536
SEG               522
DAN               488
CON               458
OIE               390
RAI               309
TIT               209
BUS               193
DMI               182
SFH               161
CDC               134
FAM               128
POS                93
PRE                87
COM                82
DPV                78
FAL                50
MAR                24
CIV                21
SOC                21
AUT                19
SUC                18
INF                16
RESCO              11
RESCI               8
REG                 3

In [ ]:
groupby_rotulo[['CODIGO']].count

Gráfico

In [ ]:
groupby_rotulo['CODIGO'].count().plot.bar()