# Análise das classificações manuais

> Dataset: "rotulo_manual_ds.zip"

Carregando apenas os dados do **código do processo**, **número**, o **gabinete** e **rótulo** da classificação.<br>

In [19]:
import pandas as pd

colunas = ['CODIGO', 'PROCESSO', 'GABINETE', 'ROTULO_MANUAL']

df = pd.read_csv('../data/rotulo_manual_ds.zip', compression='zip', header=0, sep=',', quotechar='"', usecols=colunas)

In [20]:
# Quantidade de registros e colunas
df.shape

(7764, 4)

Verificado abaixo que existem repetições de código de processo, o implica na decisão de qual a ementa correta para classificação.

In [21]:
df.describe()

               CODIGO              PROCESSO GABINETE ROTULO_MANUAL
count            7764                  7764     7764          7764
unique           7764                  5979        1            29
top     P00013X6X12KW  00973509620108240000      3VP           AGR
freq                1                     6     7764          1945

In [22]:
df.head()

          CODIGO              PROCESSO GABINETE ROTULO_MANUAL
0  P0000WYZW12L5  00021075320008240008      3VP           MAR
1  P0000WYZW12L7  00021075320008240008      3VP           AGR
2  P0000WYLT12L6  00203265119998240008      3VP           MAR
3  P0000WYLT12L8  00203265119998240008      3VP           AGR
4  P00013ROH12KX  00055138620008240039      3VP           BAN

Contanto as ocorrências por rótulo