In [9]:
import getpass

# usuário
uid = input('usuario')
# senha
pwd = getpass.getpass() 
# string de conexão do Oracle
db = input('db')

usuarioacordao
········
db//spmlx-exascan.tjsc.jus.br:1521/ojuris_suporte.world

In [23]:
sql = "select cdprocesso CODIGO, nuprocesso PROCESSO, cddocbinario DOCUMENTO, CLASSE "
sql += "from documentos_saj5 "
sql += "where ORGAOJULGADOR LIKE '%Direito Comercial%' AND CATEGORIA = 'acordao_5'"

In [24]:
from pandas import DataFrame
import cx_Oracle

connection = cx_Oracle.connect(uid+"/"+pwd+"@"+db, encoding = "iso-8859-1") #cria a conexão
cursor = connection.cursor()

cursor.execute(sql)

df = DataFrame(cursor.fetchall())

cursor.close()
connection.close()

In [25]:
df.columns = ['CODIGO', 'PROCESSO', 'DOCUMENTO', 'CLASSE']

df.head()

          CODIGO              PROCESSO  DOCUMENTO                 CLASSE
0  P000172BZ0000  03027521220178240007   15243629         Apelação Cível
1  P00016JA60000  40130531020188240000   15244375  Agravo de Instrumento
2  P000131K60000  40077089720178240000   15245345  Agravo de Instrumento
3  P00016LXF0000  40136188720188240900   15244324  Agravo de Instrumento
4  P00016KE40000  40132091420188240900   15314549  Agravo de Instrumento

In [32]:
df.shape

(52408, 4)

In [33]:
df.to_csv('../data/metadata_ds.csv')