In [1]:
import pandas as pd


colunas = ['CODIGO', 'PROCESSO', 'ROTULO_MANUAL']

rotulo_manual_df = pd.read_csv('../data/rotulo_manual_ds.zip',
                               compression='zip', header=0, sep=',', quotechar='"', usecols=colunas)

O número do incidente é formado pelas quatro últimas letras e em base 36

In [2]:
def numero_seq(codigo):
    seq_base_36 = codigo[-4:]
    return str(int(seq_base_36, 36)).zfill(5)

In [3]:
rotulo_manual_df['SEQ'] = rotulo_manual_df['CODIGO'].apply(lambda c: numero_seq(c))

rotulo_manual_df.head()

          CODIGO              PROCESSO ROTULO_MANUAL    SEQ
0  P0000WYZW12L5  00021075320008240008           MAR  50009
1  P0000WYZW12L7  00021075320008240008           AGR  50011
2  P0000WYLT12L6  00203265119998240008           MAR  50010
3  P0000WYLT12L8  00203265119998240008           AGR  50012
4  P00013ROH12KX  00055138620008240039           BAN  50001