In [1]:
import pandas as pd

colunas = ['ROTULO_MANUAL', 'EMENTA_NORM']

df = pd.read_csv('../data/ementas_pre-processadas.csv', header=0, sep=',', quotechar='"', usecols=colunas)

In [2]:
rotulo = 'SEG'

In [3]:
df.loc[df.ROTULO_MANUAL != rotulo, 'ROTULO_MANUAL'] = 'NONE'

In [4]:
df.head()

  ROTULO_MANUAL                                        EMENTA_NORM
0          NONE  apelacao civel acao indenizacao danos morais c...
1          NONE  apelacao civel acao rescisao contratual cumula...
2          NONE  embargos declaracao apelacao civel inexistenci...
3          NONE  embargos declaracao apelacao civel acordao ape...
4          NONE  embargos declaracao apelacao civel previdencia...

In [5]:
groupby_rotulo = df.groupby('ROTULO_MANUAL')
groupby_rotulo.count()

               EMENTA_NORM
ROTULO_MANUAL
NONE                  7431
SEG                    685

In [6]:
x_train = df['EMENTA_NORM'].values.astype('U')
y = df['ROTULO_MANUAL'].values

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

count_vect = CountVectorizer()
x_train_counts = count_vect.fit_transform(raw_documents=x_train)

tfidf_transformer = TfidfTransformer(use_idf=False)
x_train_tfidf = tfidf_transformer.fit_transform(x_train_counts)

In [8]:
y = df['ROTULO_MANUAL'].values

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_train_tfidf, y)

In [10]:
# Naive Bayes 
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(x_train.toarray(), y_train)

# Predict Class
y_pred = classifier.predict(x_test.toarray())

# Accuracy 
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)

In [11]:
accuracy

0.8758620689655172

In [13]:
from sklearn.metrics import confusion_matrix

cnf_matrix = confusion_matrix(y_test, y_pred)

cnf_matrix

array([[1664,  198],
       [  54,  114]])