In [1]:
import pandas as pd

colunas = ['PROCESSO', 'ROTULO_MANUAL', 'LEI']

df = pd.read_csv('../data/leis.csv', header=0, sep=',', quotechar='"', usecols=colunas)

In [2]:
 df.head()

               PROCESSO ROTULO_MANUAL        LEI
0  00039604720138240039           CDC  9656/1998
1  00039604720138240039           CDC   616/2012
2  00039604720138240039           CDC  9656/1998
3  00039604720138240039           CDC   616/2012
4  00039604720138240039           CDC  9656/1998

Utitiza apenas label que contenham mais de 200 exemplos.

In [3]:
groupby_rotulo = df.groupby('ROTULO_MANUAL')

groupby_rotulo[['LEI']].count().sort_values(['LEI'], ascending=False)

               LEI
ROTULO_MANUAL
EXP            905
SEG            803
OIG            694
BAN            654
BUS            334
FAL            261
CON            257
SFH            210
CDC            186
RAI            136
DAN            111
DPV            100
PRE             91
TIT             77
COM             73
DMI             48
FAM             45
OIE             45
AUT             40
SOC             38
SUC             22
RESCO           21
MAR             21
CIV             13
POS              8
INF              3
REG              1

In [4]:
df.shape

(5197, 3)

In [19]:
data = df.groupby(['PROCESSO', 'ROTULO_MANUAL', 'LEI']).size().unstack('LEI', fill_value=0)
data = data.reset_index()

data.head()

LEI,PROCESSO,ROTULO_MANUAL,1/1975,1/2012,100/2015,101/2010,10144/2002,10150/2000,1025/2009,10257/2001,...,9610/1998,9611/1998,9612/1998,9615/1998,9656/1988,9656/1997,9656/1998,9658/1998,9800/1999,9870/1999
0,00000042920148240058,CON,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00000057320168240242,INF,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,00000110319958240053,TIT,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,00000186020108240023,AUT,0,0,0,0,0,0,0,0,...,4,0,0,0,0,0,0,0,0,0
4,00000224520138240071,OIG,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
y = data['ROTULO_MANUAL'].values
y.shape

(1220,)

In [8]:
df1 = data.iloc[:,2:].copy()
df1.head()

LEI,1/1975,1/2012,100/2015,101/2010,10144/2002,10150/2000,1025/2009,10257/2001,104/1990,1060/1950,...,9610/1998,9611/1998,9612/1998,9615/1998,9656/1988,9656/1997,9656/1998,9658/1998,9800/1999,9870/1999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,4,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
x = df1.values
x.shape

(1220, 255)

In [10]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y)

import collections

print(collections.Counter(y_train))
print(collections.Counter(y_test))

Counter({'SEG': 156, 'OIG': 144, 'BAN': 129, 'EXP': 79, 'BUS': 57, 'CON': 54, 'SFH': 42, 'CDC': 36, 'RAI': 35, 'DPV': 25, 'DAN': 22, 'FAL': 21, 'TIT': 21, 'OIE': 17, 'COM': 16, 'DMI': 11, 'PRE': 11, 'FAM': 10, 'SOC': 5, 'AUT': 5, 'MAR': 5, 'RESCO': 3, 'POS': 3, 'SUC': 3, 'CIV': 2, 'INF': 2, 'REG': 1})
Counter({'OIG': 54, 'SEG': 44, 'BAN': 35, 'EXP': 29, 'BUS': 21, 'CON': 19, 'CDC': 16, 'RAI': 13, 'DAN': 11, 'TIT': 11, 'DPV': 10, 'PRE': 7, 'SFH': 7, 'FAL': 6, 'COM': 5, 'OIE': 5, 'FAM': 5, 'AUT': 4, 'DMI': 2, 'MAR': 1})

In [14]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder

from sklearn.tree import DecisionTreeClassifier

#enc = OneHotEncoder(handle_unknown='ignore')
clf = DecisionTreeClassifier()

text_clf = Pipeline([
    #('enc', enc),
    ('clf', clf)
])

text_clf.fit(x , y)

Pipeline(memory=None,
     steps=[('clf', DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'))])

Testando o modelo.

In [16]:
y_pred = text_clf.predict(x_test)

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)

accuracy

0.8950819672131147

In [17]:
from sklearn import metrics

print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         AUT       1.00      1.00      1.00         4
         BAN       0.82      0.91      0.86        35
         BUS       0.90      0.90      0.90        21
         CDC       0.88      0.88      0.88        16
         COM       1.00      0.80      0.89         5
         CON       0.84      0.84      0.84        19
         DAN       0.80      0.73      0.76        11
         DMI       1.00      0.50      0.67         2
         DPV       1.00      1.00      1.00        10
         EXP       0.97      0.97      0.97        29
         FAL       0.62      0.83      0.71         6
         FAM       0.75      0.60      0.67         5
         MAR       1.00      1.00      1.00         1
         OIE       0.60      0.60      0.60         5
         OIG       0.91      0.98      0.95        54
         PRE       1.00      0.86      0.92         7
         RAI       0.88      0.54      0.67        13
         SEG       0.98      0.98      0.98        44
         SFH       0.88      1.00      0.93         7
         TIT       0.90      0.82      0.86        11

   micro avg       0.90      0.90      0.90       305
   macro avg       0.89      0.84      0.85       305
weighted avg       0.90      0.90      0.89       305

In [63]:
features = list(data.columns.values)
del features[0:2]

len(features)

255

In [61]:
df_sample = pd.DataFrame(columns=features)
df_sample = df_sample.append({'9656/1998': 1}, ignore_index=True)
df_sample = df_sample.fillna(0)

df_sample

,1/1975,1/2012,100/2015,101/2010,10144/2002,10150/2000,1025/2009,10257/2001,104/1990,1060/1950,...,9610/1998,9611/1998,9612/1998,9615/1998,9656/1988,9656/1997,9656/1998,9658/1998,9800/1999,9870/1999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [64]:
y_pred = text_clf.predict(df_sample)

y_pred

array(['CDC'], dtype=object)

In [66]:
from sklearn.externals import joblib

joblib.dump(features, '../modelos/Features-Leis.pkl', compress = 1)
joblib.dump(clf, '../modelos/Modelo-Leis.pkl', compress = 1)

['../modelos/Modelo-Leis.pkl']