# Modelo de classificador pela lei

In [1]:
from comet_ml import Experiment

experiment = Experiment(project_name="igti-projeto-aplicado-leis", workspace="piantino")

COMET INFO: old comet version (1.0.55) detected. current: 1.0.56 please update your comet lib with command: `pip install --no-cache-dir --upgrade comet_ml`
COMET INFO: Experiment is live on comet.ml https://www.comet.ml/piantino/igti-projeto-aplicado-leis/98d6f46ee6d34858af4d66c82fa6654f

In [2]:
import pandas as pd

colunas = ['PROCESSO', 'ROTULO_MANUAL', 'LEI']

df = pd.read_csv('../data/leis.csv', header=0, sep=',', quotechar='"', usecols=colunas)

In [3]:
 df.head()

               PROCESSO ROTULO_MANUAL         LEI
0  00039604720138240039           CDC  artigo 535
1  00039604720138240039           CDC   9656/1998
2  00039604720138240039           CDC    616/2012
3  00039604720138240039           CDC  artigo 535
4  00039604720138240039           CDC   9656/1998

Utitiza apenas label que contenham mais de 200 exemplos.

In [4]:
rotulos = ['EXP', 'BAN', 'OIG', 'DAN', 'CON', 'RAI', 'OIE', 'SEG', 'SFH']

df.loc[~df['ROTULO_MANUAL'].isin(rotulos), 'ROTULO_MANUAL'] = 'NONE'

In [5]:
groupby_rotulo = df.groupby('ROTULO_MANUAL')

groupby_rotulo[['LEI']].count().sort_values(['LEI'], ascending=False)

                 LEI
ROTULO_MANUAL
EXP            28742
NONE           13173
BAN             7063
OIG             6577
DAN             5067
CON             3977
RAI             3436
OIE             3112
SEG             2969
SFH             2353

In [6]:
df.shape

(76469, 3)

In [7]:
data = df.groupby(['PROCESSO', 'ROTULO_MANUAL', 'LEI']).size().unstack('LEI', fill_value=0)
data = data.reset_index()

data.head()

LEI,PROCESSO,ROTULO_MANUAL,1/1975,1/2012,1/2014,100/2015,101/2010,10144/2002,10150/2000,1025/2009,...,artigo 975,artigo 977,artigo 98,artigo 982,artigo 988,artigo 99,artigo 991,artigo 995,artigo 996,artigo 998
0,00000012120028240050,CON,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00000032720118240033,CON,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,00000042220138240104,BAN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,00000042920148240058,CON,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,00000057320168240242,NONE,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
y = data['ROTULO_MANUAL'].values
y.shape

(6391,)

In [9]:
df1 = data.iloc[:,2:].copy()
df1.head()

LEI,1/1975,1/2012,1/2014,100/2015,101/2010,10144/2002,10150/2000,1025/2009,10257/2001,10391/2004,...,artigo 975,artigo 977,artigo 98,artigo 982,artigo 988,artigo 99,artigo 991,artigo 995,artigo 996,artigo 998
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
x = df1.values
x.shape

(6391, 946)

In [11]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y)

import collections

print(collections.Counter(y_train))
print(collections.Counter(y_test))

Counter({'NONE': 1120, 'BAN': 564, 'EXP': 548, 'OIG': 517, 'OIE': 429, 'DAN': 392, 'CON': 355, 'RAI': 353, 'SEG': 331, 'SFH': 184})
Counter({'NONE': 383, 'EXP': 212, 'OIG': 194, 'BAN': 158, 'OIE': 145, 'CON': 125, 'DAN': 125, 'SEG': 110, 'RAI': 103, 'SFH': 43})

In [12]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder

from sklearn.tree import DecisionTreeClassifier            
clf = DecisionTreeClassifier()

text_clf = Pipeline([
    ('clf', clf)
])

text_clf.fit(x_train , y_train)

Pipeline(memory=None,
     steps=[('clf', DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'))])

Testando o modelo.

In [13]:
y_pred = text_clf.predict(x_test)

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)

accuracy

0.5156445556946183

In [14]:
experiment.log_metric("accuracy", accuracy)

In [15]:
from sklearn import metrics

metrics_dict = {}

result = metrics.classification_report(y_test, y_pred, output_dict=True)

for label in result.keys():
    for metric in result[label].keys():
        metrics_dict[label + '-' + metric] = str(result[label][metric])

experiment.log_metrics(metrics_dict)

In [16]:
from sklearn import metrics

print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         BAN       0.44      0.34      0.38       158
         CON       0.17      0.18      0.17       125
         DAN       0.43      0.28      0.34       125
         EXP       0.79      0.81      0.80       212
        NONE       0.43      0.57      0.49       383
         OIE       0.53      0.61      0.57       145
         OIG       0.78      0.71      0.74       194
         RAI       0.30      0.25      0.27       103
         SEG       0.74      0.53      0.62       110
         SFH       0.48      0.33      0.39        43

   micro avg       0.52      0.52      0.52      1598
   macro avg       0.51      0.46      0.48      1598
weighted avg       0.52      0.52      0.51      1598

In [17]:
from sklearn.metrics import confusion_matrix

cnf_matrix = confusion_matrix(y_test, y_pred)

In [18]:
import seaborn as sn
import pandas as pd
import matplotlib.pyplot as plt

labels = set(y_test)
      
df_cm = pd.DataFrame(cnf_matrix, range(len(labels)), range(len(labels)))
plt.figure(figsize = (10,7))
sn.set(font_scale=1.4)
sn.heatmap(df_cm, xticklabels=labels, yticklabels=labels, annot=True, fmt='g', annot_kws={"size": 16})

In [19]:
features = list(data.columns.values)
del features[0:2]

len(features)

946

In [20]:
df_sample = pd.DataFrame(columns=features)
df_sample = df_sample.append({'artigo 1018': 1}, ignore_index=True)
df_sample = df_sample.fillna(0)

df_sample

,1/1975,1/2012,1/2014,100/2015,101/2010,10144/2002,10150/2000,1025/2009,10257/2001,10391/2004,...,artigo 975,artigo 977,artigo 98,artigo 982,artigo 988,artigo 99,artigo 991,artigo 995,artigo 996,artigo 998
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
y_pred = text_clf.predict(df_sample)

y_pred

array(['EXP'], dtype=object)

In [22]:
from sklearn.externals import joblib

joblib.dump(features, '../modelos/Features-Leis.pkl', compress = 1)
joblib.dump(clf, '../modelos/Modelo-Leis.pkl', compress = 1)

['../modelos/Modelo-Leis.pkl']

In [23]:
experiment.log_asset('../modelos/Features-Leis.pkl')
experiment.log_asset('../modelos/Modelo-Leis.pkl')

{'web': 'https://www.comet.ml/api/asset/download?assetId=2e826b508e2f4f5eb050db0de43eb1a3&experimentKey=98d6f46ee6d34858af4d66c82fa6654f',
 'api': 'https://www.comet.ml/api/rest/v1/asset/get-asset?assetId=2e826b508e2f4f5eb050db0de43eb1a3&experimentKey=98d6f46ee6d34858af4d66c82fa6654f'}

In [24]:
experiment.end()

COMET INFO: ----------------------------
COMET INFO: Comet.ml Experiment Summary:
COMET INFO:   Data:
COMET INFO:     url: https://www.comet.ml/piantino/igti-projeto-aplicado-leis/98d6f46ee6d34858af4d66c82fa6654f
COMET INFO:   Metrics:
COMET INFO:               BAN-f1-score: 0.37992831541218636
COMET INFO:              BAN-precision: 0.4380165289256198
COMET INFO:                 BAN-recall: 0.33544303797468356
COMET INFO:                BAN-support: 158
COMET INFO:               CON-f1-score: 0.17120622568093383
COMET INFO:              CON-precision: 0.16666666666666666
COMET INFO:                 CON-recall: 0.176
COMET INFO:                CON-support: 125
COMET INFO:               DAN-f1-score: 0.3381642512077295
COMET INFO:              DAN-precision: 0.4268292682926829
COMET INFO:                 DAN-recall: 0.28
COMET INFO:                DAN-support: 125
COMET INFO:               EXP-f1-score: 0.7972027972027972
COMET INFO:              EXP-precision: 0.7880184331797235
COMET INFO:                 EXP-recall: 0.8066037735849056
COMET INFO:                EXP-support: 212
COMET INFO:              NONE-f1-score: 0.49158249158249157
COMET INFO:             NONE-precision: 0.4311023622047244
COMET INFO:                NONE-recall: 0.5718015665796344
COMET INFO:               NONE-support: 383
COMET INFO:               OIE-f1-score: 0.567741935483871
COMET INFO:              OIE-precision: 0.5333333333333333
COMET INFO:                 OIE-recall: 0.6068965517241379
COMET INFO:                OIE-support: 145
COMET INFO:               OIG-f1-score: 0.7419354838709679
COMET INFO:              OIG-precision: 0.7752808988764045
COMET INFO:                 OIG-recall: 0.711340206185567
COMET INFO:                OIG-support: 194
COMET INFO:               RAI-f1-score: 0.2722513089005235
COMET INFO:              RAI-precision: 0.29545454545454547
COMET INFO:                 RAI-recall: 0.2524271844660194
COMET INFO:                RAI-support: 103
COMET INFO:               SEG-f1-score: 0.6170212765957446
COMET INFO:              SEG-precision: 0.7435897435897436
COMET INFO:                 SEG-recall: 0.5272727272727272
COMET INFO:                SEG-support: 110
COMET INFO:               SFH-f1-score: 0.38888888888888895
COMET INFO:              SFH-precision: 0.4827586206896552
COMET INFO:                 SFH-recall: 0.32558139534883723
COMET INFO:                SFH-support: 43
COMET INFO:                   accuracy: 0.5156445556946183
COMET INFO:         macro avg-f1-score: 0.47659229748261345
COMET INFO:        macro avg-precision: 0.50810504012131
COMET INFO:           macro avg-recall: 0.4593366443136512
COMET INFO:          macro avg-support: 1598
COMET INFO:         micro avg-f1-score: 0.5156445556946183
COMET INFO:        micro avg-precision: 0.5156445556946183
COMET INFO:           micro avg-recall: 0.5156445556946183
COMET INFO:          micro avg-support: 1598
COMET INFO:      weighted avg-f1-score: 0.5130648202189816
COMET INFO:     weighted avg-precision: 0.5233347023656936
COMET INFO:        weighted avg-recall: 0.5156445556946183
COMET INFO:       weighted avg-support: 1598
COMET INFO:   Uploads:
COMET INFO:      assets: 2
COMET INFO:     figures: 0
COMET INFO:      images: 0
COMET INFO: ----------------------------
COMET INFO: Uploading stats to Comet before program termination (may take several seconds)
COMET INFO: Waiting for completion of the file uploads (may take several seconds)
COMET INFO: Still uploading