In [11]:
import pandas as pd

colunas = ['CODIGO', 'PROCESSO', 'EMENTA']

ementa_df = pd.read_csv('../data/ementa_ds.zip',
                         compression='zip', header=0, sep=',', quotechar='"', usecols=colunas)

In [12]:
colunas = ['CODIGO', 'PROCESSO', 'ROTULO_MANUAL']

rotulo_manual_df = pd.read_csv('../data/rotulo_manual_ds.zip',
                               compression='zip', header=0, sep=',', quotechar='"', usecols=colunas)

A sigla "AGR" não é um rótulo de classificação, mas uma sigla utilizada para representar um estado do processo.

Removendo-a do conjunto de dados.

In [13]:
rotulo_manual_df = rotulo_manual_df[rotulo_manual_df.ROTULO_MANUAL != 'AGR']

In [26]:
coleta_df = pd.merge(ementa_df, rotulo_manual_df, on=['CODIGO', 'PROCESSO'])

coleta_df.head()

,CODIGO,PROCESSO,EMENTA,ROTULO_MANUAL
0,P00011PD20000,01132960920148240020,<br> APELAÇÃO CÍVEL. AÇÃO DE RESCISÃO CONTRA...,CON

In [ ]:
coleta_df = pd.merge(ementa_df, rotulo_manual_df, on=['PROCESSO'])

coleta_df.head()

In [23]:
rotulo_manual_df.query('PROCESSO == "00103872520108240020"')

             CODIGO              PROCESSO ROTULO_MANUAL
2340  P0000Q92712KX  00103872520108240020           CON

In [24]:
ementa_df.query('PROCESSO == "00103872520108240020"')

,CODIGO,PROCESSO,EMENTA
875,P0000Q9270000,00103872520108240020,<br> APELAÇÃO CÍVEL. AÇÃO DE RESCISÃO CONTRA...
79850,P0000Q92712KW,00103872520108240020,<br> EMBARGOS DE DECLARAÇÃO EM APELAÇÃO CÍVE...