In [1]:
import pandas as pd

colunas = ['CODIGO', 'PROCESSO', 'EMENTA']

ementa_df = pd.read_csv('../data/ementa_ds.zip',
                         compression='zip', header=0, sep=',', quotechar='"', usecols=colunas)

In [2]:
colunas = ['CODIGO', 'PROCESSO', 'ROTULO_MANUAL']

rotulo_manual_df = pd.read_csv('../data/rotulo_manual_ds.zip',
                               compression='zip', header=0, sep=',', quotechar='"', usecols=colunas)

A sigla "AGR" não é um rótulo de classificação, mas uma sigla utilizada para representar um estado do processo.

Removendo-a do conjunto de dados.

In [3]:
rotulo_manual_df = rotulo_manual_df[rotulo_manual_df.ROTULO_MANUAL != 'AGR']

In [7]:
def numero_seq(codigo):
    seq_base_36 = codigo[-4:]
    return str(int(seq_base_36, 36)).zfill(5)

rotulo_manual_df['SEQ'] = rotulo_manual_df['CODIGO'].apply(lambda c: numero_seq(c))
ementa_df['SEQ'] = ementa_df['CODIGO'].apply(lambda c: numero_seq(c))

In [8]:
coleta_df = pd.merge(ementa_df, rotulo_manual_df, on=['CODIGO', 'PROCESSO'], how='left')

coleta_df.head()

,CODIGO,PROCESSO,EMENTA,SEQ_x,ROTULO_MANUAL,SEQ_y
0,P0000Q1VK12KW,00039604720138240039,<br> EMBARGOS DE DECLARAÇÃO. PRETENDIDA REDI...,50000,NaN,NaN
1,P0000PB7O0000,00111212620168240000,<br> AGRAVO DE INSTRUMENTO. COMUNICAÇÃO EXTE...,00000,NaN,NaN
2,P0000Q23H0000,01462451520158240000,<br> AGRAVO DE INSTRUMENTO. NOTÍCIA DE SENTE...,00000,NaN,NaN
3,P0000PGP90000,00182975620168240000,<br> AGRAVO DE INSTRUMENTO. INTERLOCUTÓRIA Q...,00000,NaN,NaN
4,P0000PIBQ0000,01583537620158240000,<br> AGRAVO DE INSTRUMENTO. EMBARGOS A EXECU...,00000,NaN,NaN

In [9]:
coleta_df = pd.merge(ementa_df, rotulo_manual_df, on=['PROCESSO'])

coleta_df.head()

,CODIGO_x,PROCESSO,EMENTA,SEQ_x,CODIGO_y,ROTULO_MANUAL,SEQ_y
0,P0000PCC50000,00024255420138240081,<br> APELAÇÃO CÍVEL. AÇÃO DE INDENIZAÇÃO POR...,00000,P000117LG12KW,DAN,50000
1,P0000Q9270000,00103872520108240020,<br> APELAÇÃO CÍVEL. AÇÃO DE RESCISÃO CONTRA...,00000,P0000Q92712KX,CON,50001
2,P0000Q92712KW,00103872520108240020,<br> EMBARGOS DE DECLARAÇÃO EM APELAÇÃO CÍVE...,50000,P0000Q92712KX,CON,50001
3,P0000PINI12KW,00067390720078240064,<br> EMBARGOS DE DECLARAÇÃO EM APELAÇÃO CÍVE...,50000,P0000PINI12KZ,PRE,50003
4,P0000PINI12KW,00067390720078240064,<br> EMBARGOS DE DECLARAÇÃO EM APELAÇÃO CÍVE...,50000,P0000PINI12KZ,PRE,50003

In [10]:
rotulo_manual_df.query('PROCESSO == "00103872520108240020"')

             CODIGO              PROCESSO ROTULO_MANUAL    SEQ
2340  P0000Q92712KX  00103872520108240020           CON  50001

In [11]:
ementa_df.query('PROCESSO == "00103872520108240020"')

,CODIGO,PROCESSO,EMENTA,SEQ
875,P0000Q9270000,00103872520108240020,<br> APELAÇÃO CÍVEL. AÇÃO DE RESCISÃO CONTRA...,00000
79850,P0000Q92712KW,00103872520108240020,<br> EMBARGOS DE DECLARAÇÃO EM APELAÇÃO CÍVE...,50000